@import "~bootstrap/scss/bootstrap";
@import "./scss/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: $primary;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.link {
  color: $info;
  text-decoration: none;
}
