@import "../../../scss/_variables.scss";
@import "../../../scss/mixins.scss";

.resetPassword {
  height: 100vh;

  .container {
    height: 100%;
    @include flex(column, start, start);
    position: relative;
  }

  &__branding {
    padding-top: 30px;
  }

  &__form {
    // height: calc(100% - 63.72px - 0.5rem);
    flex: 1;
    @include position(absolute, 50%, 50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    max-width: 80vw;
    width: 400px;
    margin: 0 auto;
  }

  form {
    input {
      background-color: #3e3c3e;
      border: none;
      outline: none;
      color: #fff;
      margin-bottom: 20px;

      &:focus {
        background-color: #3e3c3e;
        color: #fff;
      }
    }
  }
}
