.chatHeader {
  background-color: #333;
  color: rgba(255, 255, 255, 0.43);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px 16px;
  height: 59px;
}

.chatHeader__userPicture {
  height: 40px;
  width: 40px;
}

.chatHeader__userPicture img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatHeader__userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.chatHeader__userInfo__name h4 {
  color: #fff;
}

/* .chatHeader__userInfo__status span {
  font-size: 14px;
} */
